<div class="well">
  <ul id="messages">
    <li *ngFor="#message of messages">
      <p [class.right]="message.author.id == 2" [class.left]="message.author.id == 1">
        {{ message.content }}
      <p>
    </li>
  </ul>
  <div id="bar-typing-chat" class="row">
    <p> Enter a message </p>
    <form (submit)="sendMessage()" class="input-group">
      <input [(ngModel)]="editedMessage" class="form-control" id="m" autocomplete="off">
      <span class="input-group-addon btn btn-primary" (click)="sendMessage()"> Enter </span>
    </form>
  </div>
</div>
